# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# System Files
.env
DB
emailExample.js

# Credentials
.travis/*.key
.travis/*.key.pub
.idea
